#toggle{
	z-index: 20;
	position: absolute;
	left: 520px;
	bottom: 85px;
	display: block;
	width: 250px;
	height: 100px;
}
#toggle button{
	position: relative;
	opacity: 0;
	top: 20px;
	left: 10px;
	width: 60px;
	height: 60px;
	border-radius: 70px;
	margin: 10px;
}

#display{
	position: relative;
	z-index: 20;
	width: 615px;
	height: 467px;
	top: 77.04px;
	left: 350px;
	perspective:150;
	-webkit-perspective:150; /* Safari and Chrome */
}
/*显示屏头部*/
header .header-title{
	position: absolute;
	top: 15px;
	font-size: 22px;
	left: 75px;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	transform-style:preserve-3d;
	transform: rotateY(-2deg) rotateX(3deg);
	-webkit-transform: rotateY(-2deg) rotateX(3deg); /* Safari and Chrome */
}
header ul{
	list-style-type: none;
}
.header-info li{
	position: absolute;
	width: 100px;
	height: 30px;
	text-align: center;
	font-size: 16px;
	font-weight: 1px;
	line-height: 30px;
}
.header-info li:nth-child(1){
	top: 25px;
	left: 140px;
	transform-style:preserve-3d;
	transform: rotateY(-2deg);
	-webkit-transform: rotateY(-2deg); /* Safari and Chrome */
}
.header-info li:nth-child(2){
	top: 22px;
	left: 245px;
	transform-style:preserve-3d;
	transform: rotateY(-0.5deg);
	-webkit-transform: rotateY(-0.5deg); /* Safari and Chrome */
}
.header-info li:nth-child(3){
	top: 22px;
	left: 353px;
	transform-style:preserve-3d;
	transform: rotateY(1deg);
	-webkit-transform: rotateY(1deg); /* Safari and Chrome */
}
.header-info li:nth-child(4){
	top: 26px;
	left: 455px;
	width: 115px;
	transform-style:preserve-3d;
	transform: rotateY(2deg);
	-webkit-transform: rotateY(2deg); /* Safari and Chrome */
}
/*显示屏下方的导航按键*/
#display nav li{
	font-size: 18px;
	position: absolute;
	width: 61px;
	height: 28px;
	list-style-type: none;
	text-align: center;
	line-height: 30px;
}
#display .hover,#display .on,#display nav li:hover{
	border:2px solid rgba(30,255,140,0.9); 
}
#display nav li:nth-child(1){
	bottom: 50px;
	left: 73px;
	width: 60px;
	transform-style:preserve-3d;
	transform: rotateY(-2deg) rotateX(-2deg);
	-webkit-transform: rotateY(-2deg) rotateX(-0.5deg); /* Safari and Chrome */
}
#display nav li:nth-child(1):hover,#display nav li:nth-child(1).on{
	bottom: 48px;
	left: 71px;
}
#display nav li:nth-child(2){
	bottom: 45px;
	left: 181px;
	transform-style:preserve-3d;
	transform: rotateY(-1deg) rotateX(-0.5deg);
	-webkit-transform: rotateY(-1deg) rotateX(-0.5deg); /* Safari and Chrome */
}
#display nav li:nth-child(2):hover,#display nav li:nth-child(2).on{
	bottom: 43px;
	left: 179px;
}
#display nav li:nth-child(3){
	bottom: 43px;
	left: 276px;
	transform: rotateX(-0.5deg);
	-webkit-transform:rotateX(-0.5deg);
}
#display nav li:nth-child(3):hover,#display nav li:nth-child(3).on{
	bottom: 41px;
	left: 274px;

}
#display nav li:nth-child(4){
	bottom: 45px;
	left: 376px;
	width: 70px;
	transform-style:preserve-3d;
	transform: rotateY(0.5deg) rotateX(-0.5deg);
	-webkit-transform: rotateY(0.5deg) rotateX(-0.5deg); /* Safari and Chrome */
}
#display nav li:nth-child(4):hover,#display nav li:nth-child(4).on{
	bottom: 43px;
	left: 374px;
}
#display nav li:nth-child(5){
	font-size: 14px;
	bottom: 50px;
	left: 482px;
	width: 70px;
	transform-style:preserve-3d;
	transform: rotateY(1deg) rotateX(-0.5deg);
	-webkit-transform: rotateY(1deg) rotateX(-0.5deg); /* Safari and Chrome */
}
#display nav li:nth-child(5):hover,#display nav li:nth-child(5).on{
	bottom: 48px;
	left: 480px;
}
/**********
	列表
***********/
#display aside{
	position: absolute;
	width: 245px;
	height:300px;
	top: 70px;
	left: 35px;
	transform-style:preserve-3d;
}
.main-file li{
	position: absolute;
	padding-left: 20px;
	list-style-type: none;
	display: block;
	width: 180px;
	height: 27px;
	line-height: 27px;
	transform-style:preserve-3d;
}
.main-file li:nth-child(1){
	left: 15px;
	top: 0;
	transform: rotateY(-2deg);
	-webkit-transform: rotateY(-2deg) rotateX(2deg); /* Safari and Chrome */
}
.main-file li:nth-child(1).hover{
	left: 13px;
	top: -2px;
}
.main-file li:nth-child(2){
	left: 13px;
	top: 32px;
	transform: rotateY(-2deg);
	-webkit-transform: rotateY(-2deg) rotateX(2deg); /* Safari and Chrome */
}
.main-file li:nth-child(2).hover{
	left: 11px;
	top: 30px;
}
.main-file li:nth-child(3){
	left: 11px;
	top: 64px;
	transform: rotateY(-2deg);
	-webkit-transform: rotateY(-2deg) rotateX(1.5deg); /* Safari and Chrome */
}
.main-file li:nth-child(3).hover{
	left: 9px;
	top: 62px;
}
.main-file li:nth-child(4){
	left: 10px;
	top: 96px;
	transform: rotateY(-2deg);
	-webkit-transform: rotateY(-2deg) rotateX(1deg); /* Safari and Chrome */
}
.main-file li:nth-child(4).hover{
	left: 8px;
	top:94px;
}
.main-file li:nth-child(5){
	left: 10px;
	top: 128px;
	transform: rotateY(-2deg);
	-webkit-transform: rotateY(-2deg) rotateX(0deg); /* Safari and Chrome */
}
.main-file li:nth-child(5).hover{
	left: 8px;
	top:126px;
}
.main-file li:nth-child(6){
	left: 10px;
	top: 161px;
	transform: rotateY(-2deg);
	-webkit-transform: rotateY(-2deg) rotateX(0deg); /* Safari and Chrome */
}
.main-file li:nth-child(6).hover{
	left: 8px;
	top:159px;
}
.main-file li:nth-child(7){
	left: 10px;
	top: 191px;
	transform: rotateY(-2deg);
	-webkit-transform: rotateY(-2deg) rotateX(-1deg); /* Safari and Chrome */
}
.main-file li:nth-child(7).hover{
	left: 8px;
	top:189px;
}
.main-file li:nth-child(8){
	left: 11px;
	top: 225px;
	transform: rotateY(-2deg);
	-webkit-transform: rotateY(-2deg) rotateX(-1.5deg); /* Safari and Chrome */
}
.main-file li:nth-child(8).hover{
	left: 9px;
	top:223px;
}
.main-file li:nth-child(9){
	left: 13px;
	top: 258px;
	transform: rotateY(-2deg);
	-webkit-transform: rotateY(-2deg) rotateX(-2deg); /* Safari and Chrome */
}
.main-file li:nth-child(9).hover{
	left: 11px;
	top:255px;
}
.main-file li:nth-child(10){
	left: 15px;
	top: 287px;
	transform: rotateY(-2deg);
	-webkit-transform: rotateY(-2deg) rotateX(-2deg); /* Safari and Chrome */
}
.main-file li:nth-child(10).hover{
	left: 13px;
	top:285px;
}
/*主要内容*/
#display .main-content{
	position: absolute;
	top: 65px;
	right: 30px;
	width: 320px;
	height: 320px;
	transform-style:preserve-3d;
	transform: rotateY(0.5deg);
	-webkit-transform: rotateY(0.5deg); /* Safari and Chrome */
}
.main-picture{
	width: 100%;
	height: 66%;
}
.main-picture a{
	text-decoration: none;
}
.main-picture img{
	margin-left: 100px;
	border: none;
	padding: 0;
	outline: 0;
	width: 130px;
	height: 200px; 
}
.main-text{
	display: block;
	width: 92%;
	height: 33%;
	border-top: 2px solid rgb(30,255,140);
	padding: 10px;
}
/**************
	主页样式
**************/
.main-page{
	height: 300px;
	transform-style:preserve-3d;
	transform: rotateY(-2.5deg);
	-webkit-transform: rotateY(-2.5deg); /* Safari and Chrome */
}
.main-page li{
	list-style-type: none;
	width: 60px;
	height: 25px;
	line-height: 25px;
	font-size: 18px;
	text-align: center;
	margin-top:3px;
	position: absolute;
	left: 0;
	transform: rotateX(0.5deg);
	-webkit-transform: rotateX(0.5deg); /* Safari and Chrome */
}
.main-page li:hover,.main-page li.on{
	left: -2px;
	border:2px solid rgb(30,255,140);
}
.main-page li:nth-child(1):hover,.main-page li:nth-child(1).on{top: -2px;}
.main-page li:nth-child(2){top: 28px;}
.main-page li:nth-child(2):hover,.main-page li:nth-child(2).on{top: 26px;}
.main-name{
	text-align: center;
	width: 200px;
	height: 30px;
	position: absolute;
	margin:auto;
	left: 0;bottom: -30px;right: 0;
}
.main-detailed{
	position: absolute;
	width: 330px;
	height: 100px;
	line-height: 25px;
	margin: auto;
	top: 0;bottom: 0;left: 0;right: 0;
}
.main-people{
	display: block;
	position: absolute;
	margin:85px auto;
	top: 0;left: 0;bottom: 0;right: 0;
	width: 320px;
	height: 280px;
}
.main-people div span{
	position: absolute;
}
.people-header .img{
	width: 100px;
	height: 100px;
	margin:-2px auto;
	top: 0;left: 0;bottom: 0;right: 0;
	background: url(images/interfaceshared1.png) -510px -510px no-repeat;
}
.people-header .blood{
	left: 120px;
	top: -20px;
	width: 60px;
	height: 13px;
	border: 2px solid rgb(30,255,140);
	border-bottom: 0;
}
.people-header .blood div{
	width: 56px;
	height: 11px;
	margin: 2px;
	background-color: rgb(30,255,140);
}
.people-header-face{
	position: absolute;
	width: 70px;
	height: 70px;
	margin:15px auto;
	top: 0;left: 0;bottom: 0;right: 0;
	background: url(images/interfaceshared1.png) -830px -690px no-repeat;
}
.people-body .img{
	width: 100px;
	height: 100px;
	margin:86px auto;
	left: 0;right: 0;
	background: url(images/interfaceshared1.png) -140px -640px no-repeat;
}
.people-body .blood{
	left: 120px;
	top: 101px;
	width: 60px;
	height: 13px;
	border: 2px solid rgb(30,255,140);
	border-bottom: 0;
}
.people-body .blood div{
	width: 56px;
	height: 11px;
	margin: 2px;
	background-color: rgb(30,255,140);
}
.people-hand-left .img{
	width: 100px;
	height: 90px;
	margin:56px auto;
	left: 13px;
	background: url(images/interfaceshared1.png) -380px -617px no-repeat;
}
.people-hand-left .blood{
	width: 90px;
	height: 15px;
	top: 40px;
	border-left: 2px solid rgb(30,255,140);  
	background: url(images/arrow.png) -160px -1px no-repeat;
	background-size: 280%;
}
.people-hand-left .blood div{
	position: absolute;
	top: 4px;
	left: 2px;
	width: 60px;
	height: 11px;
	background-color: rgb(30,255,140);
}

.people-hand-right .img{
	width: 100px;
	height: 100px;
	margin:58px auto;
	right: 27px;
	background: url(images/interfaceshared1.png) -645px -611px no-repeat;
}
.people-hand-right .blood{
	width: 90px;
	height: 15px;
	top: 40px;
	right: 10px;
	border-right: 2px solid rgb(30,255,140);  
	background: url(images/arrow.png) -7px -1px no-repeat;
	background-size: 280%;
}
.people-hand-right .blood div{
	position: absolute;
	top: 4px;
	right: 2px;
	width: 60px;
	height: 11px;
	background-color: rgb(30,255,140);
}

.people-foot-left .img{
	width: 110px;
	height: 100px;
	margin:176px auto;
	left: 60px;
	background: url(images/interfaceshared1.png) -896px -520px no-repeat;
}
.people-foot-left .blood{
	width: 90px;
	height: 15px;
	top: 200px;
	left: -10px;
	border-left: 2px solid rgb(30,255,140);  
	background: url(images/arrow.png) -160px -1px no-repeat;
	background-size: 280%;
}
.people-foot-left .blood div{
	position: absolute;
	top: 4px;
	left: 2px;
	width: 60px;
	height: 11px;
	background-color: rgb(30,255,140);
}
.people-foot-right .img{
	width: 100px;
	height: 100px;
	margin:178px auto;
	right: 99px;
	background: url(images/interfaceshared1.png) -744px -266px no-repeat;
}
.people-foot-right .blood{
	width: 90px;
	height: 15px;
	top: 210px;
	right: 5px;
	border-right: 2px solid rgb(30,255,140);  
	background: url(images/arrow.png) -7px -1px no-repeat;
	background-size: 280%;
}
.people-foot-right .blood div{
	position: absolute;
	top: 4px;
	right: 2px;
	width: 60px;
	height: 11px;
	background-color: rgb(30,255,140);
}










